.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.sidebar {
    background-color: #1d1d1d;
    padding-left: 3rem;
    padding-top: 3rem;
}
.category-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}