.edit-category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--desk-padd);
    align-items: center;
    gap: 3rem;
    margin-top: 10rem;
    padding-bottom: 5rem;
}
.category-card {
    color: #fff;
}
.category-card h4{
    font-size: 2rem;
}
.category-img img {
    width: 100%;
    height: 400px;
}
.category-form-container {
    color: #fff;
}
.category-text-button {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.category-text-button button{
    border: 1px solid transparent;
    font-family: var(--font-family);
    color: #fff;
    border-radius: 4px;
}
.category-text-button button:first-child{
    background-color: #000;
}
.category-text-button button:last-child{
    background-color: rgb(247, 22, 22);
}
.category-text-button button {
    display: inline-block;
    padding: 1em 1em;
}

@media (max-width: 684px){
    .edit-category-container {
        grid-template-columns: 1fr;
        padding: var(--mobile-padd);
        gap: 3rem;
        margin-top: 10rem;
    }
    .category-text-button {
        gap: 0;
        justify-content: space-between;
    }
}