.user-profile-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    padding: var(--desk-padd);
    margin-top: 10rem;
}
.shipping-address-card {
    border: 1px solid rgb(211, 211, 211);
    padding: 1rem;
    border-radius: .4rem;
    margin-bottom: 3rem;
}
.user-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.btn {
    display: block;
    width: 100%;
    padding: 1em 0;
    background-color: #fff;
    border: 1px solid rgb(211, 211, 211);
    border-radius: .4rem;
}
.btn:hover {
    cursor: pointer;
}
.selected-address {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
}
.shipping-title {
    font-size: 1.7rem;
}