.product-detail-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    padding: var(--desk-padd);
    margin-top: 15rem;
    color: #fff;
}
.product-detail-img img {
    width: 100%;
    border-radius: 10px;
}
.product-detail-text {
    padding-left: 3rem;
    padding-top: 2rem;
}
.product-name { font-size: 2.5rem;}
.product-description {
    font-size: 1.5rem;
    line-height: 1.6;
    opacity: .6;
}
.product-price {
    font-size: 2rem;
    font-weight: bold;
}

.product-colors,.product-size {
    display: inline-block;
    font-family: var(--font-family);
    padding: .7em 2em;
    background-color: #272727;
    border: 1px solid transparent;
    color: #fff;
    border-radius: .4rem;
    margin-right: 2rem;
}
 
.product-colors:hover, .product-size:hover, .product-qty:hover  {
    cursor: pointer;
}
.product-qty{
    display: inline-block;
    width: 5rem;
    padding: .7em .5em;
    background-color: #272727;
    border: 1px solid transparent;
    color: #fff;
    border-radius: .4rem;
}
.cart {
    display: inline-block;
    padding: 1.2em 4em;
    font-family: var(--font-family);
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: .4rem;
    margin-top: 2rem;
}
.cart:hover {
    cursor: pointer;
}

@media (max-width: 1055px){
    .colors {

    }
    .size {

    }
}

